extends _layout

block content
  h1= title
  p The first four columns are data as returned by MTA's <a href='http://web.mta.info/status/serviceStatus.txt'>service status API</a>, retrieved every ten minutes and stored locally. The "actual text" field renders the HTML text blob as-is. The far-right column will be an attempt to parse meaningful summary text from that HTML blob.

  table(border=1, cellspacing=1, width='100%')
    tbody
      tr
        th(width='10%') date
        th(width='10%') service
        th(width='10%') status
        th(width='35%') actual text
        th(width='35%') parse test
      each entry in data
        tr(valign='top')
          td= entry.Date + ' ' + entry.Time
          td= entry.name
          td= entry.status
          td !{entry.text}
          td
            strong= entry.parsed
